################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
*.meta
*.cache
/Network/obj/Debug
/Network/bin/Debug
*.user
*.mask
*.controller
*.png
*.jpg
*.jpeg
*.mat
*.fbx
*.prefab
*.unity
*.pidb
/NetworkProject-Client/Library
/NetworkProject-Client/obj/Debug
*.asset
/NetworkProject-Client/UnitTest/obj/Debug
/NetworkProject-Server/Library
/NetworkProject-Server/LidgrenNetwork/bin/Debug
/NetworkProject-Server/LidgrenNetwork/Documentation
/NetworkProject-Server/LidgrenNetwork/obj/Debug
/NetworkProject-Server/LidgrenNetwork
/NetworkProject-Server/obj/Debug
/NetworkProject-Server/OldScripts
*.unityproj
*.suo
/SpellActions/obj/Debug
*.userprefs
*.dgml
/NetworkProject-Client/packages/Moq.4.2.1402.2112/Moq.4.2.1402.2112.nupkg
/NetworkProject-Client/packages/Moq.4.2.1402.2112/lib/net35/Moq.xml
/NetworkProject-Client/packages/Moq.4.2.1402.2112/lib/net40/Moq.xml
/NetworkProject-Client/packages/Moq.4.2.1402.2112/lib/sl4/Moq.Silverlight.xml

\.directory

NetworkProject-Server/Temp/

NetworkProject-Client/Temp/
